node_modules
dist
dist-deploy
out
.DS_Store
*.log*
*.tsbuildinfo
.turbo
coverage

.env
.env.local
.env.*.local
local/

.idea
*.swp

# Local-only test fixtures (copyrighted game content)
**/test/fixtures-private/
.claude/

